# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'vs2017-win2016'
  name: Azure Pipelines

steps:
- checkout: self
  displayName: "Checkout Pipeline"

- task: CopyFiles@2
  displayName: 'Copy Files to Stage Directory'
  inputs:
    SourceFolder: config
    Contents: '**.tf'
    TargetFolder: '$(build.artifactstagingdirectory)/Terraform'

- task: PublishBuildArtifacts@1
  displayName: "Publish Build Artifacts"
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'drop'
    publishLocation: 'Container'

- task: DownloadBuildArtifacts@0
  displayName: 'Download Build Artifacts'
  inputs:
    artifactName: drop
    downloadPath: $(System.DefaultWorkingDirectory)

- task: TerraformInstaller@0
  displayName: "Terraform Install"
  inputs:
    terraformVersion: '0.12.25'

- task: AzureCLI@2
  inputs:
    azureSubscription: 'Azure for Students (c4b8ac58-e4e0-438d-a04e-30604e28751c)'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az group create --location westus2 --name $(TerraformBackend.ResourceGroup)
      az storage account create --name $(TerraformBackend.StorageAccount) --resource-group $(TerraformBackend.ResourceGroup) --location westus2 --sku Standard_LRS
      az storage container create --name staging --account-name $(TerraformBackend.StorageAccount)
      STORAGE_ACCOUNT_KEY=$(az storage account keys list -g $(TerraformBackend.ResourceGroup) -n $(TerraformBackend.StorageAccount) | jq ".[0].value" -r)
    addSpnToEnvironment: true
    workingDirectory: 'D:\a\1\s\drop\Terraform\'

- task: TerraformTaskV1@0
  inputs:
    provider: 'azurerm'
    command: 'init'
    backendServiceArm: 'Azure for Students (c4b8ac58-e4e0-438d-a04e-30604e28751c)'
    backendAzureRmResourceGroupName: '$(TerraformBackend.ResourceGroup)'
    backendAzureRmStorageAccountName: '$(TerraformBackend.StorageAccount)'
    backendAzureRmContainerName: 'stage'
    backendAzureRmKey: 'tf/terraform.tfstate'
    workingDirectory: 'D:\a\1\s\drop\Terraform\'

- task: TerraformTaskV1@0
  inputs:
    provider: 'azurerm'
    command: 'plan'
    backendServiceArm: 'Azure for Students (c4b8ac58-e4e0-438d-a04e-30604e28751c)'
    backendAzureRmResourceGroupName: '$(TerraformBackend.ResourceGroup)'
    backendAzureRmStorageAccountName: '$(TerraformBackend.StorageAccount)'
    environmentServiceNameAzureRM: 'Azure for Students (c4b8ac58-e4e0-438d-a04e-30604e28751c)'
    backendAzureRmContainerName: 'stage'
    backendAzureRmKey: 'tf/terraform.tfstate'
    workingDirectory: 'D:\a\1\s\drop\Terraform\'